@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-body: var(--font-dm-sans);
  --font-heading: var(--font-newsreader);
}

@theme {
  --font-sans: var(--font-body);
  --font-serif: var(--font-heading);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-brand: #ff6a2b;
  --color-brand-dark: #6B2400;
  --color-weak: #f5f3f1;
  --color-faded: #ebe8e2;
  --color-sage: #ced1b6;
  --color-mint: #ebffef;
  --color-white: #ffffff;
  --color-main: #171717;
  --color-secondary: #5c5c5c;
  --color-muted: #66635d;
  --color-placeholder: #9f9b92;
  --color-sage-dark: #827e77;
  --color-success: #13a94e;
  --color-black-rich: #12110f;
  --color-black-soft: #1f1d1b;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body), system-ui, sans-serif;
}
